.progressive-text {
  position: relative;
}

.progressive-text__character {
  white-space: inherit;
  transition: opacity 0.16s ease-out;
}

.progressive-text__character--visible {
  opacity: 1;
}

.progressive-text__character--hidden {
  opacity: 0;
  user-select: none;
}

@media (prefers-reduced-motion: reduce) {
  .progressive-text__character {
    transition: none;
  }

  .progressive-text__character--hidden {
    opacity: 1;
  }
}
